h1{
    color: red;
}
body{
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: bold;
    color:white;
    background-image: url(https://i.jeuxactus.com/datas/jeux/g/t/gta-5/xl/gta-5-5bd2f331745df.jpg)
    
}
img{
    height: 150px;
    weight:150px;
}
nav{
    display: block;
}

li{
 background-color: red;
}
h3{
    width: 73%;
    text-align: left;
    color: red;
}
.container{
   display: grid;
   grid-template-columns: 2fr 3fr;
   gap: 20px;
}


   
   



